table {
  width: 100px;
  height: 100px;

}
td {
  padding:50px;
  border-bottom: solid black 1px;

}
td:nth-of-type(2) {
  border-left: solid black 1px;
}
td:nth-of-type(3) {
  border-left: solid black 1px;



}
tr:nth-of-type(1) {
  border-bottom:0;
}
h1 {
  text-align: center;
}
.middle {
  border:none;
}
